*{
    box-sizing: border-box;
}
body{
    font-family: 'Belanosima', sans-serif;
    margin: 0;
}
.flex-menu{
    display: flex;
    flex-direction: row;
}
.flex-contianer{
    display: flex;
    flex-direction: column;
    background-color: aqua;
}
.flex-contianer div{
    margin: 10px;
    border: 5px solid #359;
    padding: 10px;
    background-color: aliceblue;
    box-sizing: content-box;
}
.navbar{
    display: flex;
    background-color: rgb(65, 65, 65);
}
.navbar a{
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    transition: 0.5s;
}
.navbar a:hover{
    color: black;
    background-color: #359;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.side{
    flex: 30%;
    background-color: rgb(223, 16, 85);
    padding: 20px;
}
.main{
    flex: 70%;
    background-color: rgb(255, 145, 0);
    padding: 20px;
}
@media screen and(max-width){
    .row,
    .navbar{
        flex-direction: column;
    }
}
.header{
    background-color: aquamarine;
    color: black;
    padding: 60px;
}
.footer{
    padding: 20px;
    background-color: blueviolet;
}